<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppVersion" value="Version 2.1" />
    <add key="AppLastUpdated" value="08/24/2021" />
    <add key="AllowCustomProgress" value="false" />
    <add key="xnetADRootPath" value="LDAP://xnet.halliburton.com" />
    <add key="smptHostMail" value="whsmtp.corp.halliburton.com" />
    <add key="filePathError" value="Errors" />
    <add key="NoReplyContact" value="DoNotReplyCAR@halliburton.com" />
    <add key="AdminContact" value="FHOUNBCIT@halliburton.com" />
    <add key="Domain" value="halamerica" />
    <add key="SMTPHostMail" value="SMTP.corp.halliburton.com" />
    <add key="HalAddress" value="@halliburton.com" />
    <add key="HsnPortal" value="https://hsn.halliburton.com/" />
    <add key="ErrorMessage" value="Error Processing Request.  If problem persists, please contact the administrator: " />
    <add key="FormHeader" value="Please investigate and respond to the following. All questions must be answered. Any documentation that will substantiate the corrective action and/or action completed to minimize recurrence should be submitted with your response." />
    <add key="Telerik.Web.UI.RenderMode" value="lightweight" />
    <add key="TestVendorName" value="CAR TEST VENDOR" />
    <add key="TestVendorUserID" value="HSN00000" />
    <add key="TestVendorCity" value="Houston" />
    <add key="TestVendorCountry" value="USA" />
    <add key="FtpSrvDir" value="DOCUMENTS" />
    <add key="FtpSrvSharedNm" value="CAR_REVIEW$" />
    <add key="FtpU" value="CAR_FTP" />
    <add key="FtpP" value="N3v%H7h(G0v}" />
    <add key="FtpUQdms" value="IS_FTP" />
    <add key="FtpPQdms" value="A4/pq8-bY9" />
    <add key="FtpSrvDirQdms" value="NEWFILES" />
    <add key="FtpSrvSharedNmQdms" value="QDMS$" />
    <!--Development-->
    <!--<add key="FtpSrvNm" value="NP2APPS628V.CORP.HALLIBURTON.COM" />
      <add key="FtpSrvType" value="TEST_CAR" />
      <add key="FtpSrvTypeQdms" value="TEST_FOLDER_DELETE_ME" />-->
    <!--Production-->
    <add key="FtpSrvNm" value="NP1APPN027V.CORP.HALLIBURTON.COM" />
    <add key="FtpSrvType" value="PRODUCTION_CAR" />
    <add key="FtpSrvTypeQdms" value="TEST_FOLDER_DELETE_ME" />
  <add key="Telerik.Skin" value="Bootstrap" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
    
    
  </appSettings>
  <connectionStrings>
    <!--Development-->
    <!--<add name="dbConn" connectionString="Data Source=NP2APPL784V;Initial Catalog=Corrective_Action;user id=CORR_ACTION;password=V9v)H0e{U4u);" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbConnRFA" connectionString="Data Source=NP2APPL784V;Initial Catalog=R4A;User ID=CORR_ACTION;Password=V9v)H0e{U4u);" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConn" connectionString="Data Source=DEMFGDBDEV;Initial Catalog=CORRECTIVE_ACTION;user ID=CORR_ACTION;password=V9v)H0e{U4u);" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConnDataMart" connectionString="Data Source=DEMFGDBDEV;Initial Catalog=HESDATAMART01;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--Production-->
    <add name="dbConn" connectionString="Data Source=HCTNADBS001;Initial Catalog=Corrective_Action;user id=CORR_ACTION;password=V9v)H0e{U4u);" providerName="System.Data.SqlClient" />
    <add name="dbConnDataMart" connectionString="Data Source=DEMFGDB;Initial Catalog=HESdatamart01;User ID=Corrective_Action;Password=V9v)H0e{U4u);" providerName="System.Data.SqlClient" />
    <!-- Default -->
    <add name="dbConnRFA" connectionString="Data Source=DEMFGDB;Initial Catalog=R4A;User ID=CORR_ACTION;Password=V9v)H0e{U4u);" providerName="System.Data.SqlClient" />
    <add name="dbQDMSLocal" connectionString="Data Source=HCTNADBS001;Initial Catalog=QDMS_LOCAL;MultipleActiveResultSets=true;User ID=Vendor;Password=H3h@C8z(X5y}" providerName="System.Data.SqlClient" />
    <add name="dbQDMS" connectionString="Data Source=GMFGAPP;Initial Catalog=QDMS;MultipleActiveResultSets=true;User ID=Vendor;Password=H3h@C8z(X5y}" providerName="System.Data.SqlClient" />
    <add name="dbVendorBarcode" connectionString="Data Source=GMFGAPP;Initial Catalog=VendorBarCodePackinList;MultipleActiveResultSets=true;User ID=Vendor;Password=H3h@C8z(X5y}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <httpCookies httpOnlyCookies="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/CustomErrorPage.aspx" />
    <sessionState regenerateExpiredSessionId="true" mode="InProc" timeout="3600" />
    <compilation defaultLanguage="c#" debug="true" strict="false" explicit="true" targetFramework="4.8.1" />
    <httpRuntime enableHeaderChecking="true" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" maxRequestLength="2097151" executionTimeout="84000" targetFramework="4.8.1" />
    <pages buffer="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=EmulateIE11, IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147482624" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <!--<assemblies>
      <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    "Microsoft.VisualStudio.Data.Providers.SqlServer.Properties.Resources.resources" was correctly embedded or linked into assembly "Microsoft.VisualStudio.Data.Providers.SqlServer"
    </assemblies>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StreamJsonRpc" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Nerdbank.Streams" publicKeyToken="CAC503E1823CE71C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-17.8.0.0" newVersion="17.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-17.9.0.0" newVersion="17.9.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceHub.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentPro.Common" publicKeyToken="0efede2d78b28dff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.40.234" newVersion="7.2.40.234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentPro.Network" publicKeyToken="0efede2d78b28dff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.40.234" newVersion="7.2.40.234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
